:root {
    --background-gradient: linear-gradient(90deg, rgba(255,248,121,1) 0%, rgba(255,147,250,1) 50%, rgba(246,179,255,1) 100%);
    --newReleases-left: 60vw;
    --newReleases-top: 15vh;

    --popularArtists-left: 30vw;
    --popularArtist-top: -50vh;
}

@font-face {
    font-family: mainFont;
    src: url(font/Nunito/Nunito-VariableFont_wght.ttf);
}

html, body {
    background: var(--background-gradient);
    font-family: mainFont;
    overflow-x: hidden;
}

#logo {
    width: 6%;
}

#topBar {
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    font-size: 1.5vw;
    padding: 1vh;
    margin: 0 auto;
    background-color: #f5f5f5;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
}

.topBarItem {
    margin: 0;
}

.topBarItem:hover {
    cursor: pointer;
}

#newRelease {
    position: absolute;
    left: 5vw;
    top: 15vh;
    font-size: 3.5vw;
}

#popularArtists {
    position: absolute;
    right: 5vw;
    bottom: 10vh;
}

.mainTexts {
    font-size: 3.5vw;
}

/* Styling for song boxes: */

.songCoverImage {
    /* pixel to make every image the same size */
    width: 275px;
    height: 275px;
}

.songBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 285px;
    height: 400px;
    /*backdrop-filter: blur(10px);*/
    border-radius: 7px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s transform;
    background: linear-gradient(90deg, #B3D6FF, #66EDB3, #C0FF6E);
    cursor: pointer;
}

.songBox:hover {
    transform: scale(1.05);
}

.song0 {
    left: calc(var(--newReleases-left) - 30vh);
    top: calc(var(--newReleases-top) + 10vh);
}

.song1 {
    left: var(--newReleases-left);
    top: var(--newReleases-top);
}

.song2 {
    left: calc(var(--newReleases-left) + 30vh);
    top: calc(var(--newReleases-top) + 5vh);
}

.titleSong {
    font-size: 0.9vw;
}

.artistSong {
    font-size: 0.8vw;
}

#likedSongsBar {
    text-decoration: none;
    color: black;
}

#searchBar {
    text-decoration: none;
    color: black;
}

#genresBar {
    text-decoration: none;
    color: black;
}

#quizBar {
    text-decoration: none;
    color: black;
}

/* Styling for artist boxes: */

.artistBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 285px;
    height: 400px;
    /*backdrop-filter: blur(10px);*/
    border-radius: 7px;
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    background: linear-gradient(90deg, #B3D6FF, #66EDB3, #C0FF6E);
    cursor: pointer;
}

.artistBox:hover {
    transform: scale(1.05);
    /* Todo: make hover change background */ 
    /*background-color: rgba(255, 255, 255, 0.25);*/
}

.artistCoverImage {
    /* pixel to make every image the same size */
    width: 275px;
    height: 275px;
}

.artist0 {
    left: calc(var(--popularArtists-left) - 20vw);
    bottom: calc(var(--popularArtist-top) + 20vh);
}

.artist1 {
    left: var(--popularArtists-left);
    bottom: var(--popularArtist-top);
}

.artist2 {
    left: calc(var(--popularArtists-left) + 20vw);
    bottom: calc(var(--popularArtist-top) - 20vh);
}

.artistReleases {
    font-size: 0.8vw;
}

.artistName {
    font-size: 0.9vw;
}

.likeButton {
    display: block;
    width: 20%;
    position: absolute;
    margin-top: -30vh;
    margin-left: 19vh;
}

/* Responsive Design: */
@media (min-width: 2560px) {
    .artistBox {
        width: calc(285px * 1.5);
        height: calc(400px * 1.5);
        border-radius: calc(7px * 1.5);
    }
    .artistCoverImage {
        width: calc(275px * 1.5);
        height: calc(275px * 1.5);
    }

    .songBox {
        width: calc(285px * 1.5);
        height: calc(400px * 1.5);
        border-radius: calc(7px * 1.5);
    }
    .songCoverImage {
        width: calc(275px * 1.5);
        height: calc(275px * 1.5);
    }
}
